body {
  background-image: url(../images/ocean.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 40px;
  text-align: center;
}

.displayNone {
  display: none;
}

.display {
  display: inherit;
}

footer {
  position: static;
  color: rgb(125, 131, 176);
}

#logoTitle {
  width: 15px;
  height: 15px;
}

h1 {
  font-size: 40px;
  background-color: #313A75;
  color: rgb(202, 218, 236);
  opacity: 80%;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 10px;
  margin-bottom: 20px;
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 20px;
  font-family: "arial";
  color: #313A75;
  opacity: 90%;

}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #313A75;
  color: #7279A5;
  padding: 10px 30px;
  border: 0;
  box-shadow: 0;
  border-radius: 50px;
  margin-bottom: 20px;
  opacity: 80%;
  cursor: pointer;
}

#game-board {
  float: left;
  padding: 20px 0px;
}

/* #canvas {
  border: 8px solid #313A75 ;
} */

/* .tryAgain {
  text-align: center;
} */